ul {
  padding: 0;
  margin: 0;
  width: 100%;
  outline: 1px solid blue;
}
.radio-btn-container {
  display: flex;
  margin: 0 20px;
}

.App {
  padding: 2.5% 5%;
  min-height: 100vh;
  background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.counter {
  display: flex;
  width: 100%;
  outline: 1px solid red;
  justify-content: space-between;
  margin-bottom: 20px;
}
.counter_title {
  width: 15%;
}
.counter_matchesList {
  width: 13%;
}
.counter_prev {
  width: 7%;
}
.counter_today {
  width: 15%;
}
input[type='checkbox'] { display: none; } 
.wrap-collabsible { margin: 1.2rem 0; } 
.lbl-toggle { 
  display: block; 
  font-weight: bold; 
  font-family: monospace; 
  font-size: 1.2rem; 
  text-transform: uppercase; 
  text-align: center; 
  padding: 1rem; 
  color: brown; 
  background: lightblue; 
  cursor: pointer; 
  border-radius: 7px; 
  transition: all 0.25s ease-out; } 
  .lbl-toggle:hover { color: #FFF; } 
  .lbl-toggle::before {
     content: ' '; 
     display: inline-block; 
     border-top: 5px solid transparent; 
     border-bottom: 5px solid transparent; 
     border-left: 5px solid currentColor; 
     vertical-align: middle; 
     margin-right: .7rem; 
     transform: translateY(-2px); 
     transition: transform .2s ease-out; 
    } 
  .toggle:checked+.lbl-toggle::before { 
    transform: rotate(90deg) translateX(-3px); 
  } 
  .collapsible-content { 
    max-height: 0px; 
    overflow: hidden; 
    transition: max-height .25s ease-in-out; 
  } 
  .toggle:checked + .lbl-toggle + .collapsible-content { 
    max-height: 4000px; 
  } 
  .toggle:checked+.lbl-toggle { 
    border-bottom-right-radius: 0; border-bottom-left-radius: 0; 
  } 
  .collapsible-content .content-inner { 
    background: rgba(222, 231, 245, 0.2); 
    border-bottom: 1px solid rgba(0, 105, 255, .45); 
    border-bottom-left-radius: 7px; 
    border-bottom-right-radius: 7px; 
    padding: .5rem 1rem; 
  } 
  .collapsible-content p { 
    margin-bottom: 0; 
  }

.wrapper {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  flex-direction: column;
}

.wrapper-up {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.wrapper-actions {
  box-sizing: border-box;
  display: flex;
  width: 50%;
  padding: 0 10%;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;
}

.sourcesAggs {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-bottom: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.sourcesAggsElem {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.date {
  margin: 1rem 0;
}
table, .table {
  width: 100%;
  border-collapse: collapse;
}
td, .cell {
  border: 1px solid gray;
}
.width33 {
  width: 33%;
}
.width20 {
  width: 20%;
}
.width25 {
  width: 25%;
}
.width10 {
  width: 10%;
  text-align: center;
}

/* Buttons styles start */
.button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  min-width: 6rem;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 0.75rem;
  line-height: 1;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:hover {
  background: #0053ba;
}

/* .button:focus {
  background: #0053ba;
  outline: 1px solid #fff;
  outline-offset: -4px;
} */

/* Button styles end */
.active {
  background-color: red;
  font-family: sans-serif;
  font-size: 0.75rem;
}
